<body class="page-categories">

    <div class="header"></div>
    <div class="page">
      
        <div class="tp">
            <h5> Dashboard</h5>
            <hr>
        </div>
        <div class="container-page">
            <div class="panel">
                <div class="panel-item">
                    <div class="panel-item-op">Despesas</div>
                    <div class="panel-item-op">R$ 25,0</div>
                </div>
                <div class="panel-item-icon">
                    <i class="material-icons md-48 style-recipe">thumb_down_alt</i>
                </div>
            </div>
            <div class="panel">
                <div class="panel-item ">
                    <div class="panel-item-op">Receitas</div>
                    <div class="panel-item-op"><i class="material-icons color">monetization_on</i> 32,00</div>
                </div>
                <div class="panel-item-icon">
                    <i class="material-icons md-48 style-expense">thumb_up_alt</i>
                </div>
            </div>
        </div>
        <div class="action center">
            <div class="tp">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">                        
                    <i class="material-icons  color">bookmarks</i> Categories </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" [routerLink]="['/extracts']">Extratos</a> 
                    </div>
            </div>
        </div>
        <div class="actions">
            <a  [routerLink]="['/novo']">
                <div class="classBtnAdd center">
                 <i class="material-icons md-45  color">add</i>
                </div>
            </a>
       </div> 
        <div class="container-page">
            <div *ngFor="let category of categories">
                <app-category [category]="category"></app-category>
            </div>
        </div>
    </div>
</body>