<section class="page-categories">


    <div class="page">

        <div class="tp">
            <h2> Dashboard</h2>
            <hr>
        </div>
        <div class="container">
            <div class="panel">
                <div class="panel-item">
                    <div class="panel-item-op">Despesas</div>
                    <div class="panel-item-op">R$ 25,0</div>
                </div>
                <div class="panel-item-icon">
                    <img src="assets/img/icone-despesas2.png" width="40px" height="40px">
                </div>
            </div>
            <div class="panel">
                <div class="panel-item center">
                    <div class="panel-item-op">Receitas</div>
                    <div class="panel-item-op">R$ 32,0</div>
                </div>
                <div class="panel-item-icon">
                    <img src="assets/img/icon-receitas2.png" width="40px" height="40px">
                </div>
            </div>
        </div>
        <div class="action">
            <div class="tp dv1">
                <h2>Categories </h2>
            </div>
            <div class="dv2">
                <button type="button" [routerLink]="['/novo']" class="btn  btn-success">Nova Categoria</button>
            </div>
        </div>
        <div class="container">
            <div *ngFor="let category of categories">
                <app-category [category]="category"></app-category>
            </div>
        </div>
    </div>
</section>