<body class="page-categories">
    <div class="header"></div>
    <div class="page">
        <div class="info-month center">
            <div class="month center"><i class="material-icons color">today</i>{{monthNow}}</div>
        </div>
        <div class="tp">
            <h5> Dashboard</h5>
            <hr>
        </div>
        <div class="container-page">
            <div class="panel">
                <div class="panel-item">
                    <div class="panel-item-op">Despesas Pagas</div>
                    <div class="panel-item-op" *ngIf="totalizer">{{totalizer.total_Despesa |currency: 'BRL': true}}</div>
                </div>
                <div class="panel-item-icon">
                    <i class="material-icons md-48 style-recipe">thumb_down_alt</i>
                </div>
            </div>
            <div class="panel">
                <div class="panel-item ">
                    <div class="panel-item-op">Receitas</div>
                    <div class="panel-item-op" *ngIf="totalizer">{{totalizer.total_Receitas|currency: 'BRL': true}}</div>
                </div>
                <div class="panel-item-icon">
                    <i class="material-icons md-48 style-expense">thumb_up_alt</i>
                </div>
            </div>
            <div class="panel">
                <div class="panel-item ">
                    <div class="panel-item-op">Saldo Corrente</div>
                    <div class="panel-item-op" *ngIf="totalizer">{{totalizer.saldo_Geral|currency: 'BRL': true}}</div>
                </div>
                <div class="panel-item-icon">
                    <img src="assets/img/moneyBag.png" width="50px" height="50px" />
                </div>
            </div>
        </div>
        <div class="action center">
            <div class="tp">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">                        
                    <i class="material-icons  color">bookmarks</i> Categories </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" [routerLink]="['/extracts']">Extratos</a> 
                      <a class="dropdown-item" [routerLink]="['/novo']"> Nova Categoria</a> 
                    </div>
            </div>
        </div>
        <div class="list-categories">
            <app-category [categories]="categories"></app-category>
        </div>
    </div>
</body>