.texto {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  width: 600px;
  color: grey;
  margin-left: 30px;
}

.content {
  margin: 10% auto;
  text-align: center;
}

.btn {
  text-align: center;
  background-color: rgb(15, 109, 15);
  border-color: rgb(15, 109, 15);
}
