
<header>
    <link href="https://fonts.googleapis.com/css?family=ABeeZee|Didact+Gothic|Hind+Vadodara|Montserrat+Alternates|Noto+Serif+JP|Poiret+One|Poppins|Sanchez|Sarabun|Spartan&display=swap" rel="stylesheet">
</header>

<div class="body-page">

    <div class="page-home">
        <div class="img-home">
            <img src="assets/img/panelHome.jpg"  >
        </div>
        <div class="menu-texto">
            <div class="texto">
                 Ajuda financeira em um só lugar
                <div class="texto-complementar">
                    Oferecemos a você um sistema para te auxiliar nas sua gestão financeira pessoal de forma simples é facil.
                </div>
                <div>
                    <button class="btn  btn-outline-success btn-lg">Saber mais</button>
                </div>
            </div>
        </div>
            
    </div>
</div>