.texto {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  margin-top: 50px;
}

.btn {
  text-align: center;
  background-color: rgb(15, 109, 15);
  border-color: rgb(15, 109, 15);
}

.text-info {
  color: grey !important;
}

.msg-erro {
  color: red;
}