
// animação
.item{
    transition: all 0.5s;
    cursor: pointer;
}

.item:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}


.style-expense {
    background-color:rebeccapurple ;
    border-radius: 12px;
    color:white;
     width: 60px;
     height: 20px;
}

.style-recipe {
    background-color: teal ;
    border-radius: 12px;
    color:white;
     width: 60px;
     height: 20px;
}


// // Tabela
table {
    width:100%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0 12px;
    margin-top: -8px;   
    font-family: 'Quicksand', sans-serif;
    color: grey;
}



table tr{
    height: 50px;  
}

table thead{
   font-size: 14px;
    border:none;
}

tbody{
    font-size: 12px;
}

tbody tr{
    background-color: white;
    
}

thead tr{
    height: 2px;
}
.md-18{
    font-size: 20px;
}

.md-val{
    font-size: 15px;
}


.message-error{
    color: firebrick;
    font-size: 15px;
    background-color: yellow;
}


.fl{
    text-align: left;
}
