<div class="message-error">{{messageReturn}}</div>
  <table>
    <tbody> 
      <tr *ngFor="let category of categories">
        <td><i class="material-icons" [style.color]="category.cor" > fiber_manual_record</i></td> 
        <td>
          <div [ngClass]="{'style-expense': category.receita_ou_despesa_desc =='Despesa','style-recipe': category.receita_ou_despesa_desc == 'Receita'}">{{category.receita_ou_despesa_desc}}</div>
        </td>
        <td  class="fl">{{category.nome}}</td> 
        <td class="md-val">R$ 15,00</td> 
        <td><a class="item" (click) ="onEdit(category.id)"><i class="material-icons md-18">create</i></a></td>
        <td><a class="item" (click)="delete(category.id)"><i class="material-icons md-18">delete</i></a></td> 
      </tr>
   
    </tbody>
  </table>






    

