
.titulo-page{
    padding-top: 50px;
    width: 100%;
    color:#355935;
}

.titulo-page h3{
    font-family: 'Quicksand', sans-serif;
    color: gray;
    font-size: 24px;
    
}

.container-form{
    padding-top: 50px;
    color: gray;
    font-family: 'Quicksand', sans-serif;
}


