<section class="teste">
    <div class="container">
        <div class="container-form">
            <div class="msg">
                {{messageReturn}}
            </div>
            <form class="needs-validation" novalidate [formGroup]="form">
                <div class="titulo-page">
                    <h3>Editar Categoria</h3>
                    <hr>
                </div>
                <div class="form-group">
                    <div class="col-md-4 mb-3">
                        <label for="nome">Nome</label>
                        <input id="nome" type="text" name="nome" class="form-control" formControlName="nome"
                            [ngClass]="{'is-invalid': submitted && hasError('nome')}" />
                        <div class="invalid-feedback">Campo Obrigatório</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 mb-3">
                        <label for="description">Descrição</label>
                        <input id="description" name="descricao" type="text" class="form-control lg" required
                            minlength="5" autocomplete="off" formControlName="descricao">
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label>Tipo</label>
                    <div id="radio" class="row">
                        <div class="col-sm-4" *ngFor="let item of categoryTypes">
                            <label class="radio-inline">
                                <input id="tipo" type="radio"  [value]="item.valor" formControlName="tipo"
                                    name="tipo" />{{item.desc}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label>Cor Despesa/Receita</label>
                    <input type="color" name="cor" formControlName="cor" />
                </div>
            </form>
            <div>
                <div class="col-md-4 mb-3 div-actions">
                    <button (click)="onSubmit()" type="submit" *ngIf="form.value" data-toggle="modal"  data-target="#exampleModalLong" class="btn btn-success btn-actions">Salvar</button>
                    <button type="button" [routerLink]="['/categories']" class="btn btn-outline-dark">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
  
    <app-modal [messageReturn]="messageReturn" ></app-modal> 
</section>